body {
  background-color: #000;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

a {
  text-decoration: none;
}

.landing {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.home-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin-top: auto;
  margin-bottom: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.display {
  font-family: 'Pirata One', sans-serif;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}

.nav-menu-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin-top: 80px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-link {
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  text-decoration: none;
}

.landing-gif {
  margin-bottom: 80px;
}

.music-wrap {
  position: fixed;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.music-link-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 160px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.brand-head-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.head-gif {
  width: 160px;
}

.display-md {
  font-family: 'Pirata One', sans-serif;
  font-weight: 400;
}

.page-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin-top: 100px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.page-heading-letter {
  margin-top: 0px;
  margin-bottom: 12px;
  font-family: 'Pirata One', sans-serif;
  color: #ffc8d2;
  font-size: 48px;
  line-height: 56px;
  font-weight: 400;
}

.heading-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.back-link {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  margin-top: 120px;
  margin-left: 120px;
}

.merch-img-div {
  width: 240px;
  height: 240px;
  background-image: url('../images/t1.png');
  background-position: 50% 50%;
  background-size: cover;
}

.merch-img-div._2 {
  background-image: url('../images/t3.png');
}

.merch-img-div._3 {
  background-image: url('../images/sweat.png');
}

.merch-card-wrap {
  display: -ms-grid;
  display: grid;
  margin-left: 120px;
  grid-auto-columns: 1fr;
  grid-column-gap: 64px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.p2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.merch-text-wrap {
  margin-top: 16px;
}

.link-text {
  color: #fff;
  font-size: 32px;
  line-height: 44px;
  text-decoration: none;
  text-transform: none;
}

.link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.link-arrow {
  margin-left: 24px;
}

.album-img {
  height: 320px;
  margin-bottom: 24px;
}

.album-grid {
  display: -ms-grid;
  display: grid;
  margin-left: 120px;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

@media screen and (max-width: 991px) {
  .landing {
    height: auto;
    padding-bottom: 64px;
  }

  .page-container {
    width: 90%;
  }

  .back-link {
    margin-top: 32px;
    margin-left: 32px;
  }

  .merch-card-wrap {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .album-grid {
    grid-row-gap: 64px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {
  .nav-menu-wrap {
    width: 75%;
  }

  .music-wrap {
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    margin-top: 24px;
  }

  .music-plat-links {
    background-color: #000;
  }
}

@media screen and (max-width: 479px) {
  .landing {
    height: 100vh;
  }

  .nav-menu-wrap {
    width: 100%;
  }

  .music-wrap {
    position: fixed;
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
    margin-top: 0px;
  }

  .music-plat-links {
    margin-left: 8px;
  }

  .music-link-wrap {
    margin-bottom: 32px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .page-container {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .page-heading-letter {
    font-size: 24px;
  }

  .merch-img-div {
    width: 120px;
    height: 120px;
  }

  .merch-card-wrap {
    margin-left: 32px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .link-text {
    font-size: 24px;
  }

  .link-arrow {
    margin-left: 12px;
  }

  .album-img {
    height: 200px;
  }

  .album-grid {
    margin-left: 24px;
  }
}

#w-node-div-block-6-7228608c {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-_3ad40380-96c8-c4dc-7730-5cb8c12d3e66-7228608c {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-a90c8e0d-e69f-84fd-d906-226a42f07543-7228608c {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

@media screen and (max-width: 991px) {
  #w-node-div-block-6-7228608c {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_3ad40380-96c8-c4dc-7730-5cb8c12d3e66-7228608c {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-a90c8e0d-e69f-84fd-d906-226a42f07543-7228608c {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-div-block-6-7228608c {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-row: 3;
    grid-row-start: 3;
  }

  #w-node-_3ad40380-96c8-c4dc-7730-5cb8c12d3e66-7228608c {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }

  #w-node-a90c8e0d-e69f-84fd-d906-226a42f07543-7228608c {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }
}

